[submodule "cpp/3party/bioparser"]
	path = cpp/3party/bioparser
	url = https://github.com/rvaser/bioparser.git
[submodule "cpp/3party/seqan"]
	path = cpp/3party/seqan
	url = https://github.com/seqan/seqan3.git
[submodule "cpp/3party/readfq"]
	path = cpp/3party/readfq
	url = https://github.com/lh3/readfq.git
[submodule "cpp/3party/kseqpp"]
	path = cpp/3party/kseqpp
	url = https://github.com/cartoonist/kseqpp.git
